{% extends 'klienci/base.html' %}


{% block content %}

    
<center>
    <div class="container-sm text-light">
      </br>
      {% if submitted %}
      <div class="alert alert-success" role="alert">
        Wizyta dodana poprawnie!
      </div>
      {% else %}
      <center>
      <strong>Dodaj wizytę:</strong>  
      <div class="card border-success bg-transparent text-light" style="max-width: 18rem">
        <form action="" method=POST><br/>
          {% csrf_token %}

          {{ form.as_p }}</div></br>
          <input type="submit" value="Dodaj" class="btn btn-success">
        </form>
      
    </center>
      {% endif %}
      
    </div>
  

{% endblock %}